.dart_tool/
.DS_Store
.gradle/
**/.idea/workspace.xml
.idea/libraries/Dart_*.xml
.packages
.pub/
.vscode/
.sandbox/
artifacts/
build/
out/
pubspec.lock
releases/
.idea/encodings.xml
**/.idea/gradle.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/runConfigurations.xml
**/.idea/modules/
.idea/libraries/Gradle_*.xml
**/.idea/modules.xml
phosphor-icons-studio/build/
phosphor-icons-studio/.gradle/
phosphor-icons-idea/build/
phosphor-icons-idea/.gradle/
tool/plugin/.idea
lib/kotlin*
gradle
gradlew
gradlew.bat